/*Fuentes*/
@font-face {
	font-family: dinofont;
	src: url('font/The-Dinosaur.ttf') format('truetype');
  }





.Banner{
    background-color: rgb(46, 24, 66);
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    
    margin: 0px -0.5vw;
    
    
}



body{
	transition: all 0.3s ease;
	background-color:#00342E;
	background-image: url('IMG/BannerAcercaDe.webp');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 90%;
}

body::after {
    content: "";
	backdrop-filter: blur(3px); /* Ajusta la cantidad de desenfoque que desees */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background:#52b1918f;
    position: fixed; /* Establece la posición fija */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2; /* Asegura que cubra completamente el contenido */
}

.menu {
	position: fixed;
	margin-top: 0vw;
	width: 0;
	overflow: hidden;
	background: #511389;
	box-shadow: 0 0 10px rgb(0, 0, 0), 0, .3;
	transition: width 0.5s ease-in-out;
	border-radius: 15px;
	height: 5vw;
	font-size: 0;
	opacity: 90%;
	z-index: 10;
	left: 16%; 
	top: 5%; 
}

.menu.active {
	opacity: 90%;
	width: 70vw;
	font-size: 1.3vw;
	color: #fff;
}

.menu::after {
	content: "";
	position: absolute; /* Asegura que la posición sea absoluta */
	bottom: -0.5vw;
	right: 7%;
	transform: translateX(10%);
	width: 10vw;
	height: 90%;
	margin-top: 4vw;
}

  
  .menu a {
	opacity: 230%;
	display: block;
	padding: 1.5vw 5vw;
	color: #f0f0f0;
	text-decoration: none;
	border-right: 0.1vw transparent #974747;
  }
  
  .menu a:last-child {
	border-right: none;
  }
  
  .menu a:hover {
	background: #ebddddfd;
	opacity: 50%;
	color: #ffffff;
	height: 5vw;
	border-radius: 1vw;
	transition: all 0.5s ease-in-out;
	
	
  }
  
  .menu.active a:hover {
	color: #511389;
	opacity: 70%;

  }
  
  .menu.active a {
	color: #ffffff;
	opacity: 300%;
  }
  
  .menu ul {
	opacity: 230%;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	height: 5vw;
  }
  
  .menu li {
	margin: 0;
	margin-bottom: 2px;
  }
  

  .menu-btn {
	position: fixed;
	z-index: 3;
	font-size: 2vw;
	color: #511389;
	background-color: #0000001f;;
	border: none;
	cursor: pointer;
	height: 4vw;
	width: 4vw;
	margin-top: 2.5vw;
	margin-left: 10%;
	border-radius: 1vw;
	padding: 0.5vw;

  }
  
  
  .menu-btn .line {
	width: 100%;
	height: 0.4vw;
	background-color: #511389;
	margin-bottom: 0.3vw;
	margin-top: 0.4vw;
	transition: all 0.3s ease;
  }
  
  .menu-btn:hover .line:nth-child(1),
  .menu-btn:hover .line:nth-child(3) {
	width: 100%;
  }
  
  .menu-btn .line:nth-child(1),
  .menu-btn .line:nth-child(3) {
	width: 50%;
  }
  
  .menu-btn:hover .line:nth-child(2) {
	width: 50%;
  }
  
  /* Cambiar botón a x */
  .menu-btn.active .line:nth-child(1) {
	transform: rotate(45deg);
	width: 100%;
	margin-bottom: -0.9vw;
	margin-top: 1.5vw;
  }
  
  .menu-btn.active .line:nth-child(2) {
	transform: rotate(-45deg);
	width: 100%;
	margin-top: 0.5vw;
  }
  
  .menu-btn.active .line:nth-child(3) {
	opacity: 0;
  }


  .Banner{
	background-color: #302250;
	width: 91%;
	padding: 5%;
	height: 100px;
	color: #fafafa;
	font-family: Dinofont;
	margin-top: -2%;
	font-size: 1em;
	margin-bottom: 200px;
	
  }

  .tittle{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #4b6e5e;
	padding: 1%;
	margin-bottom: 100px;
    margin-left: -50px;
	margin-right: 20%;
	border-top-right-radius: 50vw;
	border-bottom-right-radius: 50vw;
	
  }
  .Logo
  {
	margin-left: 10%;
	margin-right: -30%;
	
  }
  .imgLogo{
	height: 400px;
  }
  
  .Acerca-De{
   align-items: center;
	padding: 3%;
	margin: 10px -10;
    border-bottom: 1px solid #f0f0f0;
	border-left: 1px solid #f0f0f0;
	width: calc(80% - 10%);
	color: white;
	

  }
  .Sobre
{
	background-color: black;
	color: white;
	margin: 10px -7.5px ;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 2% 10%;
	margin-left: 20%;
	border-top-left-radius: 50vw;
	border-bottom-left-radius: 50vw;
	
}

.FotoUno{
    width: 80%;
    height: auto;
	margin-right: 10px;
	margin-left: -70px;
	
}

.subSobre{
	margin-left: 100px;
	border-bottom: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
	width: calc(90% - 4%);
	margin-left: 0;
	background-color: black;
	padding: 2%;

}

.imgUno {
    height: 400px;
    border-radius: 50%;
	margin-left: -60px;
}


.MisionVision{
	background-color: #4b6e5e;
	color: white;
	margin: 100px -7.5px ;
	margin-left: -10px;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 2% 10%;
	
}

.Mision, .Vision
{
	border-bottom: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
	width: calc(90% - 4%);
	padding: 2%;
}

footer {
    background-color: #302250;
    color: whitesmoke;
    font-family: sans-serif;
    height: 100px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    font-size: 1em;
    margin: 1px -0.6px; /* Centra horizontalmente */
    margin-bottom: -700px;
    margin-top: 100px;
	margin: -10px -7.5px ;
	margin-left: -10px;
 }

 .Onda1{
	margin-top: -3%;
	width: 100.5%;

 }