/*Fuentes*/
@font-face {
	font-family: dinofont;
	src: url('font/The-Dinosaur.ttf') format('truetype');
  }

 #video-bg {
    position: fixed;
    top: -30vh; /* Puedes ajustar el valor negativo para la posición vertical */
    left: -100vw; /* Puedes ajustar el valor negativo para la posición horizontal */
    width: auto;
    height: 150vw;
    z-index: -2; 
}

  body
  {
    transition: all 0.3s ease;
  }

body::before {
    content: "";
    background-image: url('IMG/inicio.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(3px); /* Ajusta la cantidad de desenfoque que desees */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background:#48256388;
}

body::after {
    content: "";
    
    position: fixed; /* Establece la posición fija */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2; /* Asegura que cubra completamente el contenido */
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
.Logo
{
    width: 30%;
    height: auto;
    display: block;
   margin-left: 10%;
    margin-top: 200px; /* Ajusta la distancia vertical según tus necesidades */
    margin-bottom: 200px;
    
}

.PantallaUno{
  display: flex;
    flex-direction: row; /* Apila elementos verticalmente */
    align-items: center; /* Centra horizontalmente */
    margin: 0 10%;
}

.Login {
  background-color: #302250;
  opacity: 80%;
  padding: 3%;
  margin: 0 5%;
  border-radius: 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

.MailLog, .PassLog {
  width: 180px;
  height: 35px;
  border: none; /* Elimina el borde predeterminado */
  border-radius: 5px;
  background-color: #302250;
  color: rgb(221, 210, 210);
  position: relative;
}

.loginMail, .loginPass {
  padding: 2px;
  border-color: rgb(255, 255, 255);
  border: 2px;
  margin-bottom: 3px;
}

.loginMail label, .loginPass label {
  display: block;
  text-align: left;
  opacity: 0;
  transition: opacity 0.3s;
  color: white;
  margin-bottom: 10px;
}
.btnLogear {
  padding: 10px 20px;
  background-color: #614caf;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnLogear:hover {
  background-color: #5d45a0;
}

.btnLogear:active {
  background-color: #563e8e;
}

/*rgb(97, 0, 187)*/
footer {
    background-color: #302250;
    color: whitesmoke;
    font-family: sans-serif;
    height: 60px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    font-size: 1em;
    margin: 1px -0.6px; /* Centra horizontalmente */
    margin-bottom: -20px;
    margin-top: 100px;
 }
 

/*Menú desplegable*/
  
.menu {
	position: fixed;
	margin-top: 0vw;
	width: 0;
	overflow: hidden;
	background: #511389;
	box-shadow: 0 0 10px rgb(0, 0, 0), 0, .3;
	transition: width 0.5s ease-in-out;
	border-radius: 15px;
	height: 5vw;
	font-size: 0;
	opacity: 90%;
	z-index: 10;
	left: 16%; 
	top: 5%; 
}

.menu.active {
	opacity: 90%;
	width: 70vw;
	font-size: 1.3vw;
	color: #fff;
}

.menu::after {
	content: "";
	position: absolute; /* Asegura que la posición sea absoluta */
	bottom: -0.5vw;
	right: 7%;
	transform: translateX(10%);
	width: 10vw;
	height: 90%;
	margin-top: 4vw;
}

  
  .menu a {
	opacity: 230%;
	display: block;
	padding: 1.5vw 5vw;
	color: #f0f0f0;
	text-decoration: none;
	border-right: 0.1vw transparent #974747;
   transition: all 0.3s ease
  }
  
  .menu a:last-child {
	border-right: none;
  }
  
  .menu a:hover {
	background: #ebddddfd;
	opacity: 50%;
	color: #ffffff;
	height: 5vw;
	border-radius: 1vw;
	transition: all 0.5s ease-in-out;
	
	
  }
  
  .menu.active a:hover {
	color: #511389;
	opacity: 70%;

  }
  
  .menu.active a {
	color: #ffffff;
	opacity: 300%;
  }
  
  .menu ul {
	opacity: 230%;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	height: 5vw;
  }
  
  .menu li {
	margin: 0;
	margin-bottom: 2px;
  }
  

  .menu-btn {
	position: fixed;
	z-index: 3;
	font-size: 2vw;
	color: #511389;
	background-color: #0000001f;;
	border: none;
	cursor: pointer;
	height: 4vw;
	width: 4vw;
	margin-top: 2.5vw;
	margin-left: 10%;
	border-radius: 1vw;
	padding: 0.5vw;

  }
  
  
  .menu-btn .line {
	width: 100%;
	height: 0.4vw;
	background-color: #511389;
	margin-bottom: 0.3vw;
	margin-top: 0.4vw;
	transition: all 0.3s ease;
  }
  
  .menu-btn:hover .line:nth-child(1),
  .menu-btn:hover .line:nth-child(3) {
	width: 100%;
  }
  
  .menu-btn .line:nth-child(1),
  .menu-btn .line:nth-child(3) {
	width: 50%;
  }
  
  .menu-btn:hover .line:nth-child(2) {
	width: 50%;
  }
  
  /* Cambiar botón a x */
  .menu-btn.active .line:nth-child(1) {
	transform: rotate(45deg);
	width: 100%;
	margin-bottom: -0.9vw;
	margin-top: 1.5vw;
  }
  
  .menu-btn.active .line:nth-child(2) {
	transform: rotate(-45deg);
	width: 100%;
	margin-top: 0.5vw;
  }
  
  .menu-btn.active .line:nth-child(3) {
	opacity: 0;
  }
  /*Text input*/

.menu {
	position: fixed;
	margin-top: 0vw;
	width: 0;
	overflow: hidden;
	background: #511389;
	box-shadow: 0 0 10px rgb(0, 0, 0), 0, .3;
	transition: width 0.5s ease-in-out;
	border-radius: 15px;
	height: 5vw;
	font-size: 0;
	opacity: 90%;
	z-index: 10;
	left: 16%; 
	top: 5%; 
}

.menu.active {
	opacity: 90%;
	width: 70vw;
	font-size: 1.3vw;
	color: #fff;
}

.menu::after {
	content: "";
	position: absolute; /* Asegura que la posición sea absoluta */
	bottom: -0.5vw;
	right: 7%;
	transform: translateX(10%);
	width: 10vw;
	height: 90%;
	margin-top: 4vw;
}

  
  .menu a {
	opacity: 230%;
	display: block;
	padding: 1.5vw 5vw;
	color: #f0f0f0;
	text-decoration: none;
	border-right: 0.1vw transparent #974747;
   transition: all 0.3s ease
  }
  
  .menu a:last-child {
	border-right: none;
  }
  
  .menu a:hover {
	background: #ebddddfd;
	opacity: 50%;
	color: #ffffff;
	height: 5vw;
	border-radius: 1vw;
	transition: all 0.5s ease-in-out;
	
	
  }
  
  .menu.active a:hover {
	color: #511389;
	opacity: 70%;

  }
  
  .menu.active a {
	color: #ffffff;
	opacity: 300%;
  }
  
  .menu ul {
	opacity: 230%;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	height: 5vw;
  }
  
  .menu li {
	margin: 0;
	margin-bottom: 2px;
  }
  

  .menu-btn {
	position: fixed;
	z-index: 3;
	font-size: 2vw;
	color: #511389;
	background-color: #0000001f;;
	border: none;
	cursor: pointer;
	height: 4vw;
	width: 4vw;
	margin-top: 2.5vw;
	margin-left: 10%;
	border-radius: 1vw;
	padding: 0.5vw;

  }
  
  
  .menu-btn .line {
	width: 100%;
	height: 0.4vw;
	background-color: #511389;
	margin-bottom: 0.3vw;
	margin-top: 0.4vw;
	transition: all 0.3s ease;
  }
  
  .menu-btn:hover .line:nth-child(1),
  .menu-btn:hover .line:nth-child(3) {
	width: 100%;
  }
  
  .menu-btn .line:nth-child(1),
  .menu-btn .line:nth-child(3) {
	width: 50%;
  }
  
  .menu-btn:hover .line:nth-child(2) {
	width: 50%;
  }
  
  /* Cambiar botón a x */
  .menu-btn.active .line:nth-child(1) {
	transform: rotate(45deg);
	width: 100%;
	margin-bottom: -0.9vw;
	margin-top: 1.5vw;
  }
  
  .menu-btn.active .line:nth-child(2) {
	transform: rotate(-45deg);
	width: 100%;
	margin-top: 0.5vw;
  }
  
  .menu-btn.active .line:nth-child(3) {
	opacity: 0;
  }
  /*Text input*/




 
  /*Segundo contenedor*/
  .PantallaDos
  {
   
    background-color: #5a4b6ef8;
    border-radius: 9px;
    margin:-5px;
    display: flex;
    flex-direction: row;
    justify-content: center;


  }
  .imgUno, .SloganUno{
    margin: 0 2%;
    width: 250px;
    padding: 5%;
    height: auto;
    
    
  }
  .SloganUno
  {
    
    font-family: dinofont;
    font-size: 1em;
    padding-top: 150px;
    justify-content: center;
    color: white;
  }
  .imgUno
  {
    padding-bottom: 0%;
    margin-bottom: 0%;
  }
.imgSlogan
{
  width: 300px;
  height: auto;
}
.ChangeColor {
  color: #73F59C; /* Cambia el color a rojo (ajusta el valor según tus preferencias) */
}
