.menu a {
	opacity: 230%;
	display: block;
	padding: 1.5vw 5vw;
	color: white;
	text-decoration: none;
	border-right: 0.1vw transparent #974747;
   transition: all 0.3s ease
}

.menu a:hover {
	opacity: 230%;
	display: block;
	padding: 1.5vw 5vw;
	color: rgb(34, 190, 112);
	text-decoration: none;
	border-right: 0.1vw transparent #974747;
   transition: all 0.3s ease
}

.menu ul {
	opacity: 230%;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	height: 5vw;
}

.fotografia {
	width: 200px;
	height: 200px;
	border-radius: 150px;
}

.Celular {
	width: 25px;
	height: 25px;
	border-radius: 50px;
	padding: 17px;
	transition: all 0.3s;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.Celular:hover {
	width: 40px;
	height: 40px;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.datitos {
	color: rgb(137, 211, 201);
}

.distancia {
	margin-top: -18px;
	display: flex;
}

.columna {
	margin: 45px;
	padding: 10px;
	width: 250px;
	height: 250px;
}

.fila {
	display: flex;
}

.boton {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: purple;
	color: white;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	margin-left: 150px;
}

.cuadro {
    width: 200%;
    background-color: rgb(116, 155, 155);
    border: none;
    border-radius: 10px;
    color: rgb(6, 78, 96);
    padding: 10px;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea si no hay suficiente espacio */
}

.terapia-item {
    background-color: #4B0082; /* Morado oscuro */
    color: white;
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    width: calc(33.33% - 10px); /* Calcula el 33.33% del ancho del contenedor menos el espacio entre los elementos */
    box-sizing: border-box; /* Incluye el padding y el borde en el cálculo del ancho */
}
.terapia-itemDos{
    background-color: #4B0082; /* Morado oscuro */
    color: white;
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    width: calc(33.33% - 10px); /* Calcula el 33.33% del ancho del contenedor menos el espacio entre los elementos */
    box-sizing: border-box; /* Incluye el padding y el borde en el cálculo del ancho */
}

/* Añadimos un estilo para limpiar el margen en el último elemento de cada fila */
.terapia-item:nth-child(3n) {
    margin-right: 0;
}


body {
	transition: all 0.3s ease;
	background-color: #00342E;
	background-image: url('IMG/Login.webp');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 90%;
	color: white;
}

body::after {
	content: "";
	backdrop-filter: blur(3px);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: #1f3b2be5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
}

/* formulario agregar terapia*/

.formulario-container {
    display: none; /* Agrega para ocultar el formulario por defecto */

}

.formulario-container.active
{
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s ;
}

.formulario-flotante {
    display: flex;
    flex-direction: column;
	background-color: #00342E; /* Cambia a azul marino oscuro */
	color: white; /* Cambia a color de texto blanco */
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
.AddTerapForm{
    display: flex;
    flex-direction: column;
}

