<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de therapist rex</title>
    <link rel="stylesheet" href="AcercaDeStyle.css">
    <link rel="icon" type="image/x-icon" href="IMG/Icon.ico">
</head>

<body>
    <div class = "FloatMenu">
        <button id="menu-button" class="menu-btn">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </button>
        
        <nav id="menu" class="menu">
            <ul>
                <li><a href="index.html"><b>Inicio</b></a></li>
                <li><a href="QS.html"><b>Quienes Somos</b></a></li>
                <li><a href="#"><b>boton3</b></a></li>
                <li><a href="#"> <b>Hola</b></a></li>
            </ul>
        </nav>
    </div>
 
    <svg class = "Onda1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#302250" fill-opacity="0.8" d="M0,32L60,42.7C120,53,240,75,360,112C480,149,600,203,720,208C840,213,960,171,1080,176C1200,181,1320,235,1380,261.3L1440,288L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">

    </path></svg>
    <div class = "tittle">
        <div class ="subTittle">
    <h1 class = "Acerca-De">Acerca de Therapist Rex:</h1>
</div>
<div class = "Logo">
    
    <img src="IMG/lOGO.png" alt="TherapistLogo" class = "imgLogo">
</div>
</div>
  <div class = "Sobre">
    <div class ="FotoUno"><img src="IMG/imageAcerca1.png" alt="TherapistLogo" class = "imgUno"></div>
    
        <div class = "subSobre">
            <h1 class = "Cultiva">¡Cultiva tu bienestar mental, de manera única y personalizada.</h1>
            
            Therapist Rex es un innovador aplicativo diseñado 
            para brindar apoyo y cuidado a la salud mental de todas 
            las personas. Ya sea que enfrentes un trastorno mental o simplemente busques 
            formas de fortalecer tu equilibrio emocional, en Therapist Rex encontrarás una 
            comunidad acogedora y recursos que te ayudarán a cuidar de tu mente.
            </div>
    

</div>
<div class = "MisionVision">
    <div class = "Mision">
        <h1 class = "NuestraVis">
            Nuestra misión...
        </h1>
        En Therapist Rex, creemos en la importancia de encontrar 
        equilibrio y bienestar mental. Nuestra misión es proporcionar un
         espacio seguro y enriquecedor para que las personas exploren terapias 
         alternativas y complementarias a través de sus propios intereses y pasiones. 
         A través de algo que llamamos "Dino-Fiesta" promovemos un enfoque positivo y 
         lúdico hacia el cuidado de la salud mental.
    </div>
    <div class = "Vision">
        <h1 class = "NuestraVis">
            Nuestra visión...
        </h1>
        <p>En Therapist Rex, tenemos una visión clara y apasionada: ser una gran ayuda para 
            todas las personas que enfrentan diversas dificultades mentales o emocionales. 
            Reconocemos que, si bien no pretendemos sustituir el tratamiento médico, nuestra 
            plataforma puede ser un complemento valioso en el viaje hacia el bienestar mental.</p>

        <p>Nuestra visión es simple pero poderosa: mejorar la salud mental de las personas, y, 
        en consecuencia, elevar su calidad de vida. Creemos que todos merecen sentirse apoyados, 
        escuchados y capacitados para cuidar de su mente. La "dino-fiesta" en Therapist Rex es un
        recordatorio constante de que el autocuidado es una celebración de la vida.
</p>
    </div>
</div>
</body>

<footer>
    <div class = "copy"></div>
    <p>&copy; 2023 Miguel Ghash. Todos los derechos reservados.</p>
</footer>
<script src="script.js"></script>
</html>
