<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de therapist rex</title>
    <link rel="stylesheet" href="../static/buscarStyle.css">
    <link rel="icon" type="image/x-icon" href="IMG/Icon.ico">
</head>

<body>
    <div class="centrar">
    <div class = "Menu">
        <nav id="menu" class="menu">
           <ul>
               <li><a href="index.html"><b>Cerrar Sesión</b></a></li>
               <li><a href="#"><b>Editar Perfil</b></a></li>
               <li><a href="#"><b>Soporte</b></a></li>
           </ul>
       </nav>
   </div>
   <div class="terapia">
    <input type="text" id="busqueda" class="terapia" placeholder="Nueva búsqueda"> 
</div>
<h1>TERAPIAS DISPONIBLES</h1>
<div class="cuadro">

</div>
</div>
</body>


<script src="script.js"></script>
<script src="js2.js"></script>
</html>
